.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
.vscodeignore
tsconfig.json
vsc-extension-quickstart.md
CHANGELOG.md
node_modules/**
**/*.ts
**/*.map
**/*.js.map
!out/**/*.js
.env
.env.example
*.py
